 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (max-width: 1195px) { @content; }
  }
}


// The search block

#block-search-form{
  float: left;
  margin-left: 0;
  margin-right: 16px;
  label{
    right: 47px;
    margin-right: -39px;
  }
  .form-item{
    float: right;
  }
  input.form-text{
    padding-right: 3px;
  }
  input.form-submit{
    background: url("../images/search-icon.png") no-repeat 0 0 transparent;
    float: left;
    left: 6px;
    right: auto;
  }
}

/***********  header scroll  **********/

.scroll{
  .region-header{
    right: auto;
    left: 0;
  }
  .menu-wrapper{
    .menu-button{
      padding-left: 13px;
      padding-right: 1px;
    }
  }
}

/**********  main menu  **************/

#triangle-topleft{
  border-right-width: 0;
  border-left-width: 126px;
  right: 280px!important;
  @include res(s-m){
    border-color: transparent rgba(77, 77, 77, 0.95) transparent transparent;
    border-right-width: 90px;
    border-left-width: 0;
    right: 170px!important;
  }
}

#block-system-main-menu{
  float: right;
  li.is-collapsed:before, li.is-expanded:before{
      float: right;
      background: url("../images/triangle-menu.png")no-repeat top right;
  }
  li.expanded:before{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    transform: rotate(30deg);
    right: 4px;
    left: auto;
  }
}

#navigation{
  margin-right: -100%;
  margin-left: 0;
}


.menu-button{
  float: right;
  @include res(s-m){
    right: 0;
    left: auto;
  }
  .text{
    float: right;
  }
  .lines{
    float: left;
    padding-right: 13px;
    padding-left: 0;
    @include res(s-m){
      padding-left: 10px;
    }
  }
}

#block-locale-language{
  clear: right;
  float: right;
  padding: 0 32px;
}
/*********  share  *********/
/*
.social-button{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    img{
      margin: 8px 10px;
    }
  }
}

#share-mobile{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    .image{
      float: right;
    }
  }
}

.display-social .social-button{
  img{
    opacity: 0;
  }
  span{
    margin: 0;
    right: 10px;
    top: 19px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
  }
  .line3{
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}


.share-triangle{
  left: 170px!important;
  right: auto!important;
  border-right-width: 90px;
  border-left-width: 0;
}

#share-mobile.hide, .share-triangle.hide{
  margin-left: -100%;
  margin-right: 0;
}*/

/* the Header region  */
.header__region {
  float: left;
}

#logo{
    margin-right: 28%;
    margin-left: 0!important;
    @include res(s-m){
      margin-right: 0!important;
      float: left!important;
    }
    @include res(l){
      margin-right: 20%!important;
    }
}

header .logo-mobile{
  &.en{
    @include res(s-m){
      display: none!important;
    }
  }
  &.he{
    @include res(s-m){
      display: block!important;
    }
  }
}

// The language switcher blcok
#block-lang-dropdown-language {
  float: left;
  .select2-container .select2-choice .select2-arrow b {
    background: url("../images/lang_triangle.png") no-repeat right 47% transparent;
  }
}

.block-text-resize {
  float: left;
  margin-right: 6px;
  margin-left: 0;
  a.changer{
        background: url("../images/aa-heb.png") no-repeat center center transparent!important;
  }
  a{
    float: right!important;
  }
}

/*********  front  ***********/

.region-top{
  .text-slide{
    .wrapper{
      .text{
        left: 60px;
        right: auto;
        text-align: left;
        @include res(s-m){
          left: 20px;
        }
      }
      .title{
        float: right;
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
      .second-title{
        float:right;
      }
      .continue{
        float: right;
        clear: right;
      }
    }
  }
  .flex-direction-nav{
    a{
      &.flex-prev {
        background:  url("../images/arrow-right.png") no-repeat center center;
        right: 20px;
        left: auto;
      }
      &.flex-next {
        left: 20px;
        right: auto;
        background:  url("../images/arrow-left.png") no-repeat center center;
      }
    }
  }
  .flexslider:hover .flex-direction-nav a.flex-next,
  .flexslider .flex-direction-nav a.flex-next{
    left: 0;
    right: auto;
  }
  .flexslider:hover .flex-direction-nav a.flex-prev,
  .flexslider .flex-direction-nav a.flex-prev{
    right: 0;
    left: auto;
  }
}

/**********  exhibition page ************/

.node-type-exhibition, .page-node-2619{
  #wrapper-title{
    .sub-title{
      border-right: 1px solid;
      margin-right: 7px;
      padding-right: 11px;
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
  .treasurers-designers{


    .field-name-field-designers, .field-name-field-treasurers-name{
      .field-item{
        float: right;
        margin-right: 5px;
        margin-left: 0;
        text-align: right;
      }
    }
  }
  .dates{
    .close{
      .line-place{
        margin-left: 6px;
        margin-right: 0;
        float: right;
      }
    }
    .label{
      float: right;
      margin-left: 5px;
      margin-right: 0;
    }
    .field{
      float: right;
    }
  }
}

#block-views-also-intersting-block, #block-views-also-intersting-block-1{
  .views-row{
    margin-left: 3.5%;
    margin-right: 0;
  }
  .views-row-last{
    margin-left: 0;
  }
}

/**********  exhibition gallery************/

#block-views-exhibition-gallery-block-2, #block-views-exhibition-gallery-block,
#block-views-now-exhibition-block-1, #block-views-now-exhibition-block-2,
#block-views-arts-galleries-block, #block-views-arts-galleries-block-2{
  .view-footer{
    float: left;
    margin-left: 1px;
    margin-right: 0;
    div{
      float: left;
      margin-right: 5px;
      margin-left: 0;
    }
  }
  .owl-controls{
    .owl-next, .owl-prev{
      right: 0;
      left: auto;
    }
    .owl-next{
      right: 24px;
      left: auto; 
      background-position: 7px 0;   
    }
    .owl-prev{
      right: 0px;
      left: auto;
      background-position: -11px 0;   
    }
  }
}

/*****************  footer  ************/

#footer{
  #block-block-1{
    background: url("../images/huji.png") no-repeat right center transparent;
    float: right;
    padding: 2px 55px 22px 0px;
    text-align: right;
    width: 32%;
    @include res(s-m){
      background: none;
      padding: 0;
    }
  }
  #block-block-3{
    float: right;
    width: 45%;
    margin: 0 1%;
    line-height: 1.3em;
    padding-top: 1px;
    @include res(m){
      p{
        float: right;
      }
      .view-last-update{
        float: left;
      }
    }
    @include res(s-m){
      margin: 0;
    }
  }
  #block-block-2{
    padding-right: 0px;
    padding-left: 0;
    margin-top: 4px;
    float: left;
    text-align: left;
    width: 20%;
    @include res(s-m){
      margin: 0;
      text-align: left;
    }
  }
}

/**********  art page  ***********/

.node-type-art{
  .region-content-top{
      float: left;
  }
  .right{
    float: right;
  }
  #page-title{
    text-align: right;
  }
  #wrapper-title{
    span{
      margin-right: -5px;
      margin-left: 5px;
    }
    @include res(s-m){
      .field-name-field-artis{
        border-left: 1px solid;
        margin-left: 5px;
        padding-left: 8px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  #page-title{
    float: right;
  }
  .place, .details{
    float: right;
    clear: right;
  }
}

/*********  the gallery   ***********/

.view-the-gallery{
  .place1{
    float: right;
  }
  .place2, .place3{
    float: left;
  }
  .place4, .place6{
    float: right;
    clear: right;
  }
  .place5{
    float: left;
  }
  .views-field-title{
    .title{
      border-left: 1px solid;
      padding-left: 10px;
      margin-left: 2px;
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

/**** art at the capus **/

#block-views-arts-block-1{
  .views-widget-sort-order{
    display: none;
  }
  select{
    width: 268px!important;
  }
  .form-item-field-art-type-tid select{
    width: 140px!important;
  }
  .views-widget-sort-by{
    select{
      width: 131px!important;
    }
  }
  .views-exposed-widgets {
      margin: 0 auto;
      width: 592px;
      max-width: 100%;
  }
}

.views-exposed-form .views-exposed-widget {
    float: right;
    padding: 0.5em  0 0 1em;
}

.views-submit-button{
  padding-left: 0!important;
}


/************  design select  ************/

#block-lang-dropdown-language{
  text-align: left;
  .select2-container .select2-choice .select2-arrow{
    right: 0;
    left: auto;
  }
  .select2-container .select2-choice > .select2-chosen{
    margin-left: 6px;
  }
}

/************  contact   **************/

.node-webform{
  .field-name-field-text{
    float: right;
  }
  #webform-client-form-11{
    float: left;
    input, textarea{
      &.form-submit{
        float: left;
      }
    }
  }
}

/*********  regulat page  ***********/

.node-type-page{ 
  #wrapper-title{
    .sub-title{
      border-right: 1px solid;
      margin-right: 7px;
      padding-right: 11px;
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

// overlay

.overlay{
  .close-button{
    right: 20px;
    left: auto;
  }
  .next_i{
    left: 0px;
    right: auto;
    background:  url("../images/arrow-left-g.png") no-repeat center center;
  }
 .prev_i{
    right: 0px;
    left: auto;
    background:  url("../images/arrow-right-g.png") no-repeat center center;
  }
}



/********   design select  **********/

// The language switcher blcok
#block-lang-dropdown-language {
  .select2-container .select2-choice .select2-arrow b {
    background: url("../images/lang_triangle.png") no-repeat left 47% transparent;
  }
  .select2-container .select2-choice .select2-arrow{
    right: 0;
    left: auto;
  }
}

#select2-results-1{
  .select2-result-label{
      text-align: left;
  } 
}


// exposed filter

#block-views-arts-block, #block-views-arts-block-1{
  .select2-container .select2-choice .select2-arrow b {
    background: url("../images/sort-triangle.png") no-repeat left center #3e3e3f;
  }
  #edit-field-campus-tid-wrapper{
  .select2-container .select2-choice .select2-arrow b {
      background: url("../images/sort-triangle.png") no-repeat left center $green;
    }
  }
}
