<<<<<<< HEAD

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}


// The search block

#block-search-form{
  float: left;
  margin-left: 0;
  margin-right: 16px;
  label{
    right: 47px;
    margin-right: -39px;
  }
  .form-item{
    float: right;
  }
  input.form-text{
    padding-right: 3px;
  }
  input.form-submit{
    background: url("../images/search-icon.png") no-repeat 0 0 transparent;
    float: left;
    left: 6px;
    right: auto;
  }
}

/***********  header scroll  **********/

.scroll{
  .region-header{
    right: auto;
    left: 0;
  }
  .menu-wrapper{
    .menu-button{
      padding-left: 13px;
      padding-right: 1px;
    }
  }
}

/**********  main menu  **************/

#triangle-topleft{
  border-right-width: 0;
  border-left-width: 126px;
  @include res(s-m){
    border-color: transparent rgba(77, 77, 77, 0.95) transparent transparent;
    border-right-width: 90px;
    border-left-width: 0;
  }
}

#block-system-main-menu{
  float: right;
  li.is-collapsed:before, li.is-expanded:before{
      float: right;
      background: url("../images/triangle-menu.png")no-repeat top right;
  }
  li.expanded:before{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    transform: rotate(30deg);
    right: 4px;
    left: auto;
  }
}

#navigation{
  margin-right: -100%;
  margin-left: 0;
}


.menu-button{
  float: right;
  @include res(s-m){
    right: 0;
    left: auto;
  }
  .text{
    float: right;
  }
  .lines{
    float: left;
    padding-right: 13px;
    padding-left: 0;
    @include res(s-m){
      padding-left: 10px;
    }
  }
}

@media (max-width: 1200px){
  #triangle-topleft{
    right: 260px!important;
    @include res(s-m){
      right: 170px!important;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  #triangle-topleft{
    @include res(s-m){
      right: 169px!important;
    }
  }
}

#block-locale-language{
  clear: right;
  float: right;
}
/*********  share  *********/
/*
.social-button{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    img{
      margin: 8px 10px;
    }
  }
}

#share-mobile{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    .image{
      float: right;
    }
  }
}

.display-social .social-button{
  img{
    opacity: 0;
  }
  span{
    margin: 0;
    right: 10px;
    top: 19px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
  }
  .line3{
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}


.share-triangle{
  left: 170px!important;
  right: auto!important;
  border-right-width: 90px;
  border-left-width: 0;
}

#share-mobile.hide, .share-triangle.hide{
  margin-left: -100%;
  margin-right: 0;
}*/

/* the Header region  */
.header__region {
  float: left;
}

#logo{
    margin-right: 28%;
    margin-left: 0!important;
    @include res(s-m){
      margin-right: 0!important;
      float: left!important;
    }
}

// The language switcher blcok
#block-lang-dropdown-language {
  float: left;
  .form-type-select {
    background: url("../images/lang_triangle.png") no-repeat right center transparent;
  }
}

.block-text-resize {
  float: left;
  margin-right: 6px;
  margin-left: 0;
  a{
        background: url("../images/aaa.png") no-repeat center center transparent!important;
  }
}

/*********  front  ***********/

.region-top{
  .text-slide{
    .wrapper{
      .text{
        left: 60px;
        right: auto;
        text-align: left;
        @include res(s-m){
          left: 20px;
        }
      }
      .title{
        float: right;
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
      .second-title{
        float:right;
      }
      .continue{
        float: right;
        clear: right;
      }
    }
  }
  .flex-direction-nav{
    a{
      &.flex-prev {
        background-position: 29px 0;
        right: 20px;
        left: auto;
      }
      &.flex-next {
        left: 20px;
        right: auto;
        background-position: 120px 0px;
      }
    }
  }
  .flexslider:hover .flex-direction-nav a.flex-next{
    left: 20px!important;
    right: auto;
  }
  .flexslider:hover .flex-direction-nav a.flex-prev{
    right: 20px!important;
    left: auto;
  }
  .flexslider:hover .flex-direction-nav a.flex-next{
    right: auto!important;
  }
}

/**********  exhibition page ************/

.node-type-exhibition{
  #wrapper-title{
    #page-title{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }  
  }
  .treasurers-designers{
    .field-name-field-treasurers-name{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
    .field-name-field-designers, .field-name-field-treasurers-name{
      .field-item{
        float: right;
        margin-left: 5px;
        margin-right: 0;
        text-align: right;
      }
    }
  }
  .dates{
    .open{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
    .label{
      float: right;
      margin-left: 5px;
      margin-right: 0;
    }
    .field{
      float: right;
    }
  }
}

#block-views-also-intersting-block, #block-views-also-intersting-block-1{
  .views-row{
    margin-left: 3.5%;
    margin-right: 0;
  }
  .views-row-last{
    margin-left: 0;
  }
}

/**********  exhibition gallery************/

#block-views-exhibition-gallery-block-2, #block-views-exhibition-gallery-block,
#block-views-arts-galleries-block, #block-views-arts-galleries-block-2{
  .view-footer{
    float: left;
    margin-left: 1px;
    margin-right: 0;
    div{
      float: left;
      margin-right: 5px;
      margin-left: 0;
    }
  }
  .owl-controls{
    .owl-next, .owl-prev{
      right: 0;
      left: auto;
    }
    .owl-next{
      right: 30px;
      left: auto; 
      background-position: 0px 0;   
    }
    .owl-prev{
      right: 0px;
      left: auto;
      background-position: -28px 0;   
    }
  }
}

/*****************  footer  ************/

#footer{
  width: 760px;
  #block-block-1{
    background: url("../images/huji.png") no-repeat right center transparent;
    float: right;
    padding: 12px 55px 12px 6px;
    text-align: right;
    width: 33%;
    @include res(s-m){
      background: none;
      padding: 0;
    }
  }
  #block-block-3{
    float: right;
    width: 45%;
    @include res(m){
      p{
        float: right;
      }
      .view-last-update{
        float: left;
      }
    }
  }
  #block-block-2{
    padding-right: 6px;
    padding-left: 0;
    float: left;
    text-align: left;
    width: 21%;
    @include res(s-m){
      margin: 0;
      text-align: left;
    }
  }
}

/**********  art page  ***********/

.node-type-art{
  .region-content-top{
      float: left;
  }
  .right{
    float: right;
  }
  #wrapper-title{
    .field-name-field-art-date{
      float: right;
    }
    span{
      float: right;
      margin-right: 0px;
      margin-left: 5px;
    }
    @include res(s-m){
      .field-name-field-artis{
        border-left: 1px solid;
        margin-left: 5px;
        padding-left: 8px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  #page-title{
    float: right;
  }
  .place, .details{
    float: right;
    clear: right;
  }
}

/*********  the gallery   ***********/

.view-the-gallery{
  .place1{
    float: left;
  }
  .place2, .place3{
    float: right;
  }
  .place4, .place5{
    float: left;
    clear: left;
  }
  .place6{
    float: right;
  }
  .views-field-title{
    .title{
      border-left: 1px solid;
      padding-left: 10px;
      margin-left: 2px;
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

/**** art at the capus **/

#block-views-arts-block{
  .form-type-select {
    background: url("../images/sort-triangle.png") no-repeat left center #3e3e3f;
  }
  #edit-field-campus-tid-wrapper .form-type-select {
    background: url("../images/sort-triangle.png") no-repeat left center $green;
  }
  .views-widget-sort-order{
    display: none;
  }
  select{
    width: 200px!important;
  }
  .form-item-field-art-type-tid select{
    width: 110px!important;
  }
  .form-item-sort-by select{
    width: 100px!important;
  }
    .views-exposed-widgets {
      margin: 0 auto;
      width: 48%;
  }
}

.views-exposed-form .views-exposed-widget {
    float: right;
    padding: 0.5em  0 0 1em;
}

.views-submit-button{
  padding-left: 0!important;
}


/************  design select  ************/

#block-lang-dropdown-language, #block-views-arts-block {
  select {
    text-align: right;
    padding-right: 7px;
  }
  .form-type-select {
    float: left;
  }
}

/************  contact   **************/

.node-webform{
  .field-name-field-text{
    float: right;
  }
  #webform-client-form-11{
    float: left;
    input, textarea{
      &.form-submit{
        float: left;
      }
    }
  }
=======

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}


// The search block

#block-search-form{
  float: left;
  margin-left: 0;
  margin-right: 16px;
  label{
    right: 47px;
    margin-right: -39px;
  }
  .form-item{
    float: right;
  }
  input.form-text{
    padding-right: 3px;
  }
  input.form-submit{
    background: url("../images/search-icon.png") no-repeat 0 0 transparent;
    float: left;
    left: 6px;
    right: auto;
  }
}

/***********  header scroll  **********/

.scroll{
  .region-header{
    right: auto;
    left: 0;
  }
  .menu-wrapper{
    .menu-button{
      padding-left: 13px;
      padding-right: 1px;
    }
  }
}

/**********  main menu  **************/

#triangle-topleft{
  border-right-width: 0;
  border-left-width: 126px;
  right: 280px!important;
  @include res(s-m){
    border-color: transparent rgba(77, 77, 77, 0.95) transparent transparent;
    border-right-width: 90px;
    border-left-width: 0;
    right: 170px!important;
  }
}

#block-system-main-menu{
  float: right;
  li.is-collapsed:before, li.is-expanded:before{
      float: right;
      background: url("../images/triangle-menu.png")no-repeat top right;
  }
  li.expanded:before{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    transform: rotate(30deg);
    right: 4px;
    left: auto;
  }
}

#navigation{
  margin-right: -100%;
  margin-left: 0;
}


.menu-button{
  float: right;
  @include res(s-m){
    right: 0;
    left: auto;
  }
  .text{
    float: right;
  }
  .lines{
    float: left;
    padding-right: 13px;
    padding-left: 0;
    @include res(s-m){
      padding-left: 10px;
    }
  }
}

#block-locale-language{
  clear: right;
  float: right;
}
/*********  share  *********/
/*
.social-button{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    img{
      margin: 8px 10px;
    }
  }
}

#share-mobile{
  @include res(s-m){
    float: left;
    left: 0;
    right: auto;
    .image{
      float: right;
    }
  }
}

.display-social .social-button{
  img{
    opacity: 0;
  }
  span{
    margin: 0;
    right: 10px;
    top: 19px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
  }
  .line3{
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}


.share-triangle{
  left: 170px!important;
  right: auto!important;
  border-right-width: 90px;
  border-left-width: 0;
}

#share-mobile.hide, .share-triangle.hide{
  margin-left: -100%;
  margin-right: 0;
}*/

/* the Header region  */
.header__region {
  float: left;
}

#logo{
    margin-right: 28%;
    margin-left: 0!important;
    @include res(s-m){
      margin-right: 0!important;
      float: left!important;
    }
}

// The language switcher blcok
#block-lang-dropdown-language {
  float: left;
  .form-type-select {
    background: url("../images/lang_triangle.png") no-repeat right center transparent;
  }
}

.block-text-resize {
  float: left;
  margin-right: 6px;
  margin-left: 0;
  a{
        background: url("../images/aaa.png") no-repeat center center transparent!important;
  }
}

/*********  front  ***********/

.region-top{
  .text-slide{
    .wrapper{
      .text{
        left: 60px;
        right: auto;
        text-align: left;
        @include res(s-m){
          left: 20px;
        }
      }
      .title{
        float: right;
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
      .second-title{
        float:right;
      }
      .continue{
        float: right;
        clear: right;
      }
    }
  }
  .flex-direction-nav{
    a{
      &.flex-prev {
        background-position: 29px 0;
        right: 20px;
        left: auto;
      }
      &.flex-next {
        left: 20px;
        right: auto;
        background-position: 120px 0px;
      }
    }
  }
  .flexslider:hover .flex-direction-nav a.flex-next{
    left: 20px!important;
    right: auto;
  }
  .flexslider:hover .flex-direction-nav a.flex-prev{
    right: 20px!important;
    left: auto;
  }
  .flexslider:hover .flex-direction-nav a.flex-next{
    right: auto!important;
  }
}

/**********  exhibition page ************/

.node-type-exhibition{
  #wrapper-title{
    #page-title{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      padding-right: 0;
      margin-right: 46px;
    }  
  }
  .treasurers-designers{
    .field-name-field-treasurers-name{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
    .field-name-field-designers, .field-name-field-treasurers-name{
      .field-item{
        float: right;
        margin-left: 5px;
        margin-right: 0;
        text-align: right;
      }
    }
  }
  .dates{
    .open{
      border-left: 1px solid;
      margin-left: 7px;
      padding-left: 11px;
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
    .label{
      float: right;
      margin-left: 5px;
      margin-right: 0;
    }
    .field{
      float: right;
    }
  }
}

#block-views-also-intersting-block, #block-views-also-intersting-block-1{
  .views-row{
    margin-left: 3.5%;
    margin-right: 0;
  }
  .views-row-last{
    margin-left: 0;
  }
}

/**********  exhibition gallery************/

#block-views-exhibition-gallery-block-2, #block-views-exhibition-gallery-block,
#block-views-arts-galleries-block, #block-views-arts-galleries-block-2{
  .view-footer{
    float: left;
    margin-left: 1px;
    margin-right: 0;
    div{
      float: left;
      margin-right: 5px;
      margin-left: 0;
    }
  }
  .owl-controls{
    .owl-next, .owl-prev{
      right: 0;
      left: auto;
    }
    .owl-next{
      right: 30px;
      left: auto; 
      background-position: 0px 0;   
    }
    .owl-prev{
      right: 0px;
      left: auto;
      background-position: -28px 0;   
    }
  }
}

/*****************  footer  ************/

#footer{
  width: 760px;
  #block-block-1{
    background: url("../images/huji.png") no-repeat right center transparent;
    float: right;
    padding: 12px 55px 12px 6px;
    text-align: right;
    width: 33%;
    @include res(s-m){
      background: none;
      padding: 0;
    }
  }
  #block-block-3{
    float: right;
    width: 45%;
    @include res(m){
      p{
        float: right;
      }
      .view-last-update{
        float: left;
      }
    }
  }
  #block-block-2{
    padding-right: 6px;
    padding-left: 0;
    float: left;
    text-align: left;
    width: 21%;
    @include res(s-m){
      margin: 0;
      text-align: left;
    }
  }
}

/**********  art page  ***********/

.node-type-art{
  .region-content-top{
      float: left;
  }
  .right{
    float: right;
  }
  #wrapper-title{
    .field-name-field-art-date{
      float: right;
    }
    span{
      float: right;
      margin-right: 0px;
      margin-left: 5px;
    }
    @include res(s-m){
      .field-name-field-artis{
        border-left: 1px solid;
        margin-left: 5px;
        padding-left: 8px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
  #page-title{
    float: right;
  }
  .place, .details{
    float: right;
    clear: right;
  }
}

/*********  the gallery   ***********/

.view-the-gallery{
  .place1{
    float: left;
  }
  .place2, .place3{
    float: right;
  }
  .place4, .place5{
    float: left;
    clear: left;
  }
  .place6{
    float: right;
  }
  .views-field-title{
    .title{
      border-left: 1px solid;
      padding-left: 10px;
      margin-left: 2px;
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

/**** art at the capus **/

#block-views-arts-block{
  .form-type-select {
    background: url("../images/sort-triangle.png") no-repeat left center #3e3e3f;
  }
  #edit-field-campus-tid-wrapper .form-type-select {
    background: url("../images/sort-triangle.png") no-repeat left center $green;
  }
  .views-widget-sort-order{
    display: none;
  }
  select{
    width: 200px!important;
  }
  .form-item-field-art-type-tid select{
    width: 110px!important;
  }
  .form-item-sort-by select{
    width: 100px!important;
  }
    .views-exposed-widgets {
      margin: 0 auto;
      width: 48%;
  }
}

.views-exposed-form .views-exposed-widget {
    float: right;
    padding: 0.5em  0 0 1em;
}

.views-submit-button{
  padding-left: 0!important;
}


/************  design select  ************/

#block-lang-dropdown-language, #block-views-arts-block {
  select {
    text-align: right;
    padding-right: 7px;
  }
  .form-type-select {
    float: left;
  }
}

/************  contact   **************/

.node-webform{
  .field-name-field-text{
    float: right;
  }
  #webform-client-form-11{
    float: left;
    input, textarea{
      &.form-submit{
        float: left;
      }
    }
  }
>>>>>>> 84a936f968a511ac977c2e02456247809dd2407e
}