/* line 4, ../../sass/components/arts-rtl.scss */
#block-search-form label {
  right: 47px;
  margin-right: -39px;
}
/* line 8, ../../sass/components/arts-rtl.scss */
#block-search-form .form-item {
  float: right;
}
/* line 11, ../../sass/components/arts-rtl.scss */
#block-search-form input.form-text {
  padding-right: 3px;
}
/* line 14, ../../sass/components/arts-rtl.scss */
#block-search-form input.form-submit {
  background: url("../images/search-icon.png") no-repeat 0 0 transparent;
  float: left;
  left: 6px;
  right: auto;
}

/**********  main menu  **************/
/* line 24, ../../sass/components/arts-rtl.scss */
#triangle-topleft {
  border-right-width: 0;
  border-left-width: 126px;
}

/* line 29, ../../sass/components/arts-rtl.scss */
#block-system-main-menu {
  float: right;
}

/* line 33, ../../sass/components/arts-rtl.scss */
.menu-button {
  float: right;
  padding: 11px 16px 6px 11px;
}
/* line 36, ../../sass/components/arts-rtl.scss */
.menu-button .text {
  float: right;
}
/* line 39, ../../sass/components/arts-rtl.scss */
.menu-button .lines {
  float: left;
  padding-right: 13px;
  padding-left: 0;
}

/*********  front  ***********/
/* line 51, ../../sass/components/arts-rtl.scss */
.region-top .text-slide .wrapper-width .text {
  left: 0;
  right: auto;
  text-align: left;
}
/* line 56, ../../sass/components/arts-rtl.scss */
.region-top .text-slide .wrapper-width .artist {
  float: right;
  border-left: 1px solid #fff;
  margin-left: 10px;
  padding-left: 10px;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
/* line 65, ../../sass/components/arts-rtl.scss */
.region-top .text-slide .wrapper-width .continue {
  float: right;
  clear: right;
}
/* line 73, ../../sass/components/arts-rtl.scss */
.region-top .flex-direction-nav a.flex-prev {
  background-position: 29px 0;
  right: 20px;
  left: auto;
}
/* line 78, ../../sass/components/arts-rtl.scss */
.region-top .flex-direction-nav a.flex-next {
  left: 20px;
  right: auto;
  background-position: 120px 0px;
}
/* line 85, ../../sass/components/arts-rtl.scss */
.region-top .flexslider:hover .flex-direction-nav a.flex-next {
  left: 20px !important;
  right: auto;
}
/* line 89, ../../sass/components/arts-rtl.scss */
.region-top .flexslider:hover .flex-direction-nav a.flex-prev {
  right: 20px !important;
  left: auto;
}
/* line 93, ../../sass/components/arts-rtl.scss */
.region-top .flexslider:hover .flex-direction-nav a.flex-next {
  right: auto !important;
}

/**********  exhibition page ************/
/* line 102, ../../sass/components/arts-rtl.scss */
.node-type-exhibition #wrapper-title #page-title {
  border-left: 1px solid;
  margin-left: 7px;
  padding-left: 11px;
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
/* line 112, ../../sass/components/arts-rtl.scss */
.node-type-exhibition .treasurers-designers .field-name-field-treasurers-name {
  border-left: 1px solid;
  margin-left: 7px;
  padding-left: 11px;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
/* line 121, ../../sass/components/arts-rtl.scss */
.node-type-exhibition .treasurers-designers .field-name-field-designers .field-item {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 129, ../../sass/components/arts-rtl.scss */
.node-type-exhibition .dates .open {
  border-left: 1px solid;
  margin-left: 7px;
  padding-left: 11px;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
/* line 137, ../../sass/components/arts-rtl.scss */
.node-type-exhibition .dates .label {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* line 142, ../../sass/components/arts-rtl.scss */
.node-type-exhibition .dates .field {
  float: right;
}

/* line 149, ../../sass/components/arts-rtl.scss */
#block-views-also-intersting-block .views-row {
  margin-left: 24px;
  margin-right: 0;
}
/* line 153, ../../sass/components/arts-rtl.scss */
#block-views-also-intersting-block .views-row-last {
  margin-left: 0;
}

/**********  exhibition gallery************/
/* line 161, ../../sass/components/arts-rtl.scss */
#block-views-exhibition-gallery-block-2 .view-footer, #block-views-exhibition-gallery-block .view-footer {
  float: left;
  margin-left: 1px;
  margin-right: 0;
}
/* line 165, ../../sass/components/arts-rtl.scss */
#block-views-exhibition-gallery-block-2 .view-footer div, #block-views-exhibition-gallery-block .view-footer div {
  float: left;
  margin-right: 5px;
  margin-left: 0;
}
/* line 172, ../../sass/components/arts-rtl.scss */
#block-views-exhibition-gallery-block-2 .owl-controls .owl-next, #block-views-exhibition-gallery-block-2 .owl-controls .owl-prev, #block-views-exhibition-gallery-block .owl-controls .owl-next, #block-views-exhibition-gallery-block .owl-controls .owl-prev {
  right: 0;
  left: auto;
}
/* line 176, ../../sass/components/arts-rtl.scss */
#block-views-exhibition-gallery-block-2 .owl-controls .owl-next, #block-views-exhibition-gallery-block .owl-controls .owl-next {
  right: 30px;
  left: auto;
  background-position: 0px 0;
}
/* line 181, ../../sass/components/arts-rtl.scss */
#block-views-exhibition-gallery-block-2 .owl-controls .owl-prev, #block-views-exhibition-gallery-block .owl-controls .owl-prev {
  right: 0px;
  left: auto;
  background-position: -38px 0;
}

/*****************  footer  ************/
/* line 192, ../../sass/components/arts-rtl.scss */
#footer #block-block-1 {
  background: url("../images/huji.png") no-repeat right center transparent;
  float: right;
  padding: 12px 55px 12px 16px;
}
/* line 197, ../../sass/components/arts-rtl.scss */
#footer #block-block-3 {
  float: right;
}
/* line 200, ../../sass/components/arts-rtl.scss */
#footer #block-block-2 {
  padding-right: 16px;
  padding-left: 0;
  float: left;
}
